@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slide-up {
  0% {
    transform: translateY(12px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-serif);
}

.dark body {
  background: #0f172a;
}



/* @custom-variant dark (&:where(.dark, .dark *)); */

